<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="com.naveenautomationlabs.AutomationFramework.listeners.CustomListeners"></listener>
<listener class-name="com.naveenautomationlabs.AutomationFramework.listeners.TransformerForRetry"></listener>
<listener class-name="com.naveenautomationlabs.AutomationFramework.listeners.ExtentReportListener"></listener>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.naveenautomationlabs.AutomationFramework.YourStoreTest"/>
      <class name="com.naveenautomationlabs.AutomationFramework.base.TestBase"/>
      <class name="com.naveenautomationlabs.AutomationFramework.LaptopsNotebookTest"></class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
